/* Code Refactoring:
1. Readability
2. Modularity
3. Efficiency
4. Length (more status: if less readable, is bad)/ code golf games
*/

body {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: "Montserrat";
    font-weight: bolder;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-weight: bolder;
}

p {
    color: #8f8f8f;
}

.container-fluid {
    padding: 3% 15%;
}

/* Title section */

.h1-title {
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 3.5rem;
    line-height: 1.5;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

/* Navigation Bar */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
   font-family: 'Ubuntu', sans-serif;
   font-size: 2.5rem;
   font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 100;
}

/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;

}

/* Title Image */
.image-container {
    top:100px;
}
.title-image {
    padding-left: 10%;
    width: 80%;
    transform: rotate(25deg);
    position: relative;
}

/* Icons and Features */
#features {
    padding: 7% 0;
    background-color: #fff;
    position: relative;
}

.col-center {
    align-content: center;
    text-align: center;
    padding: 5%;
}

.feature-icons {
    color: #ef8172;
    font-size: 300%;
    margin: 6% 0;
}

.feature-icons:hover {
    color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image {
    width: 30%;
    border-radius: 100%;
    margin: 5% 5% 0;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding: 3% 0;
}

.press-logo {
    width: 15%;
    margin: 10px 20px 50px;
}

.carousel-item {
    padding: 5% 15%;
}

/* Pricing section */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

/* Call to Action section */
#cta {
    background-color: #ff4c68;
    text-align: center;
    height: 120%;
    font-family: "Montserrat";
    font-weight: bolder;
}

.h3-cta {

    color: #fff;
    padding-bottom: 1rem;
}

/* Media Query Breakpoints */

@media (max-width: 1028px) {

    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
    }

}

/* Footer Section */
#footer {
    background-color: #fff;
    text-align: center;
}
.footer {
    padding-top: 6px;
}
